@model DAL.Models.Author
@{
    ViewBag.Title = "EditAuthor";
}

<h2>EditAuthor</h2>

@using (Html.BeginForm("ModifyAuthor", "Author", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Image)

    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Name)</span>
    </div>

    <div class="form-group">
        <label>AboutAuthor</label>
        @Html.TextAreaFor(m => m.AboutAuthor, new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(m => m.AboutAuthor)</span>
    </div>

    <div class="form-group">
        <label>Image</label>
        @Html.TextBoxFor(m => m.Image, new { @class = "form-control", type = "file" })
        <span class="text-danger">@Html.ValidationMessageFor(m => m.Image)</span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info">Update</button>
    </div>
}

